:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.02em;
    
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ====================================Page Header==================================== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.header-nav-logo-web {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.header-nav-link-studio {
  color: #404bbf;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link-studio::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #404BBF;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  bottom: -1px;
  width: 100%;
}

.header-nav-logo-studio {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.list {
}

.header-nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
  /*text-decoration: underline;*/

}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
  
}

/* ====================================Page Order==================================== */
.order {
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0px;
  background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(https://github.com/Oksana2020LA/goit-markup-hw-04/blob/main/images/people-office-1.jpg?raw=true);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #fff;
text-align: center;
}

.order-section {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* ====================================Page Business=================================== */

.business {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.business-list {
  display: flex;
  gap: 24px;
}

.business-item {
  width: 264px;
}

.business-title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.business-text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.icon-big {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  background-color: var(--second-background);
  border-radius: 4px;
}

.icon-container {
  width: 264px;
  height: 112px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-color: #F4F4FD;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 8px;
}

/* ====================================Page Team==================================== */


.team {
  background-color: var(--color-cloud);
  padding: 120px 0;
}

.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;}

.team-item {
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
}

.team-image {

}
.team-wrapper {
  padding: 32px 0;
}
.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.link-site {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-icon {
    fill: #F4F4FD;
  }

  .link-site:hover, 
  .link-site:focus {
  fill: #fff;
  background-color: #404bbf;
}

.team-image:hover {
  border: 1px solid #F4F4FD;
}

/* ====================================Page Portfolio==================================== */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title-all {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
 }

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-image {

}

.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*.portfolio-item:hover .portfolio-wrapper {
  border: 1px solid #F4F4FD;
}*/


/* ====================================Page Footer==================================== */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logoweb {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logostudio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}


.footer-flex-block-social {
  color:  #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  fill: #F4F4FD;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.footer-flex-block {
  margin-right: 120px;
}


/* ====================================Page Footer2==================================== */

.footer-icon {
  margin-right: 93px;
}


.footer-flex-block-subscribe {
  color:  #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.form-subscribe {
  display: flex;
align-items: baseline;
justify-content: start;
gap: 24px;
}

.form-subscribe-email1 {
  gap: 24px;
}

.form-subscribe-email {

  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px; 
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  border-radius: 4px;
  height: 40px; 
  }

  .csubscribe-button-icon {
    margin-left: 16px;    
    width: 24px;
    height: 24px;

  }

  /* ============================Section Modal window============================ */
  
/*.backdrop {
  position: fixed;

}*/

/*****=====================Page Order Submit================================*****/


.modal {
 /* position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%
  background-color: rgba(46, 47, 66, 0.4);}*/

  background: var(--color-background-1);
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background: var(--DAIRY, #FCFCFC);
  color: var(--LIGHT-SLATE, #8E8F99);
}

 
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  margin-bottom: 12px;
}

.form-input {
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
}

.form-input-lable {
  position: relative;
  display: block;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.form-input-lable-area:focus {
  border-color: var(--color-logo-accent);
}

.form-input-lable-area:focus + .form-input-lable-svg {
  fill: var(--color-logo-accent);
}

.form-input-lable-area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 0 11px 42px;
  margin-top: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  height: 138px;
  margin-bottom: 20px;
}

.form-text-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  outline: none;
  resize: none;
}

.form-input-lable-svg {
  position: absolute;
  top: 72%;
  left: 4%;
  transform: translateY(-72%);
  fill: var(--color-primary);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-checkbox-lable {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accept-icon-svg {
  display: flex;
  margin-right: 7px;
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  top: 50%;
  transition-property: border-color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-background-1);
}

.checkbox-check:checked + .accept-icon-svg {
  border-color: var(--color-logo-accent);
  background-color: var(--color-logo-accent);
}

.accept-text {
  padding-right: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media screen and (min-width: 1200px) {
  .accept-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-logo-accent);
}
@media screen and (min-width: 1200px) {
  .form-checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.send-btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--color-logo-accent);
  color: var(--color-background-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 30px auto 0 auto;
}

.send-btn:hover {
  background-color: var(--color-dark-blue);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  padding: 5px 4px 6px 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-background-1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-logo);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--color-logo-accent);
}
*/